.search-btn {
    border: 2px solid #f0828d;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn.active:hover,
.search-btn.active:active,
.search-btn.active:focus,
.open>.dropdown-toggle.search-btn {
    border: 2px solid #f0828d !important;
    background-color: #FFF !important;
}

.search-btn[type=submit],
.search-btn[type=submit]:hover {
    border: 2px solid #f0828d !important;
    background-color: #f0828d !important;
    color: #FFF;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}

.search-btn[type=submit]:active,
.search-btn[type=submit]:focus {
    border: 2px solid #bc4e59;
    background-color: #bc4e59;
    color: #FFF;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}