.via_top{
    display:flex;
    flex-shrink:0;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding:0px 2.5vw;
}

.rate_box{
    margin:1vw 1.5vw;
    display:flex;
    text-align:left;
}

.rate_text{
    width: 10vw;
    height: 25vh;
    border: 1px solid 	#dc3545;
    border-radius:7px;
    overflow-y: scroll;
    margin-right:2vw;
    margin-left:6vw;
    text-align:left;
}

.via_name{
    width:20vw
}

.red_word{
    color:#f0828d
}

iframe{
    -webkit-filter: hue-rotate(200deg);
    filter: hue-rotate(200deg);
}

.title_place{
    width: 45vw;
    height: 43vh;
}

.daimei{
    display:flex;
    margin:0 20vw 0 25vw;
}

.flex-item:nth-child(1){
    align-self: flex-start;
}

.flex-item:nth-child(2){
    align-self: flex-end;
}

.via_top{
    margin:1vh 0 2vh;
}

.via_detail_status {
    margin-left: 1vw;
}