.suggest_place {
    grid-column: 1 / 5;
    text-align: left;
    border: 1px solid #dc3545;
    border-radius: 7px;
    overflow-y: scroll;
    display: block;
    min-height: 45vh;
    max-height: 45vh;
    margin-right: 2vw;
}

.map {
    width: 100%;
    height: 100%;
    /* max-height: 45vh;
    justify-content: center; */
}

.map iframe{
    width: 100%;
    height: 100%;
}

.suggest_place_box {
    grid-column: 1 / 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    /* overflow-y: scroll; */
    /* align-items: center; */
}
