::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff8095;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #ffe6ea;
    border-radius: 5px;
}